<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1>Products List</h1>
        <a href="/products/add" class="button">Add Product</a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.productId}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.model}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <a th:href="@{/products/edit/{id}(id=${product.productId})}" class="button edit">Edit</a>
                        <a th:href="@{/products/delete/{id}(id=${product.productId})}" class="button delete">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/home" class="button back">Back to Home</a>
    </div>
</body>
</html>
